.card-lugar{
  padding: 25px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  display: flex;
}

.lugar-encabezado{
    font-size: 22px !important;
    text-align: center;
    color: #0052c2 !important;
    font-weight: bold;
}

.lugar-content{
    font-weight: none !important;
    text-align: justify;
}

.empieza-btn {
  margin-top: 20px;
  background-color: #6bcdd9;
  color: white;
  font-weight: bold;
  border: none;
  padding: 2%;
  border-radius: 15px;
  cursor: pointer;
}
.empieza-btn:hover {
  background-color: #6bcdd9;
}


.ver-detalle {
  margin-top: 15px;
  background: none;
  border: 1.5px solid #0052c2;
  color: #0052c2;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.ver-detalle:hover {
  background-color: #eef3ff;
}


.content-accion{
  border: 1.5px solid #0052c2;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 0.5rem;
}

@media (max-width: 768px) {
  .card-lugar {
    flex-direction: column;   
    align-items: center;      
  }

  .content-accion {
    width: 100%;      
    margin: 0.5rem 0; 
  }
}
