.card {
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  flex: 2;
  display: flex;
  min-width: 250px;
  justify-content: center;
}

.publicidad {
  background-color: #0052c2;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pub-text-especial{
  font-size: 18px;
  text-align: center;
  color: white !important;
  font-weight: bold;
}

.pub-text-especial span{
    font-size: 22px !important;
    color: #6bcdd9;
    font-weight: bold;
}

.pub-item {
  display: flex;
  align-items: center;
  gap: 10px; 
  margin-bottom: 12px;
  margin-left: 10%;
}


.pub-text {
  font-size: 16px;
  color: white !important;
  font-weight: bold;
  width: 35%;
}

.pub-resp{
    width: 50%;
    color: white !important;
    text-align: center;
}
.empieza-btn {
  margin-top: 20px;
  background-color: #6bcdd9;
  color: white;
  font-weight: bold;
  border: none;
  padding: 2%;
  border-radius: 15px;
  cursor: pointer;
}
.empieza-btn:hover {
  background-color: #6bcdd9;
}

.card path{
  fill: #fff;
}