.main {
    flex: 1;
    padding: 40px;
    padding-left: 90px;
    padding-right: 90px;
    overflow-x: hidden;
    max-width: 100%;
}

.conteiner-tarjetas {
  display: flex;
  width: 100%;
  padding: 1.5rem;
}



.conteiner-graficos {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 2rem;
  width: 100%;
}



.filters {
  display: flex;
  gap: 1rem;
  padding: 1.5rem 0;
  width: 100%;
  flex-wrap: wrap;
}

.content-filters {
  flex: 1;
  min-width: 200px;
}

.filtro-select {
  background-color: white;
  border: 2px solid #0052c2;
  color: black;
  border-radius: 10px;
  padding: 1rem;
  width: 100%;
}

label {
  color: #0052c2;
  font-weight: bold;
}


@media (max-width: 1024px) {
  .conteiner-graficos {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .conteiner-tarjetas {
    padding: 1rem;
  }

  .filters {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .conteiner-graficos {
    grid-template-columns: 1fr;
  }

  .css-17fpwt7-MuiGrid-root {
    width: 100% !important;
  }

  .css-10jnrrx-MuiTypography-root {
    font-size: 1.5rem !important;
    text-align: center !important;
    margin-bottom: 1rem !important;
  }

  .conteiner-tarjetas {
    flex-direction: column;
    padding: 1.2rem;
    padding-inline: 0.5rem;
  }

  .filters {
    flex-direction: column;
    gap: 0.5rem;
  }

  .content-filters {
    width: 100%;
    margin-right: 0;
    padding: 0.5rem;

  }

  .css-19kzrtu {
    padding: 0rem !important;
  }
}

@media (max-width: 480px) {
  .conteiner-graficos {
    gap: 1.2rem;
  }

  .filtro-select {
    padding: 0.8rem;
  }

  label {
    font-size: 14px;
  }
}



.css-10jnrrx-MuiTypography-root {
  color: #0052c2;
  font-weight: bold !important;
}
