.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
    width: 80%;
}

.header__logo svg {
  height: 40px;
}

.img-logo{
  width: 8%;
}

.header__user {
  display: flex;
  align-items: center;
  gap: 12px;
}


.user__avatar {
  background-color: #0052c2;
  color: #fff;
  font-weight: bold;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.user__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.2;
}

.user__name {
  font-weight: bold;
  font-size: 14px;
  margin: 0;
  color: black;
}

.user__email {
  font-size: 12px;
  color: #666;
  margin: 0;
}

.icon-chevron {
  width: 16px;
  height: 16px;
}


.user-card {
  position: absolute;
  top: 60px;
  right: 0;
  width: 280px;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 16px;
  z-index: 1000;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
}

.close-icon {
  width: 20px;
  height: 20px;
}

.user-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-card__avatar {
  background-color: #0052c2;
  color: #fff;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 48px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.user-card__name,
.user-card__email {
  margin: 2px 0;
  text-align: center;
  color:#333
}

.user-card__name{
  font-weight: bold;
}

.user-card__actions {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}

.btn {
  padding: 8px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}
.especial:hover {
  background-color: #9b9b9b !important;
}

.btn:hover{
  background-color: #0052c2;
  color: white
}

.primary {
  background-color: #6bcdd9;
  color: white;
  text-decoration: none;
}

.secondary {
  background-color: #eee;
  color: #333;
}

.user-card__footer {
  margin-top: 15px;
  font-size: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 4px;
}


@media (max-width: 768px) {
  .header {
    padding: 12px 10px;
  }

  .img-logo{
    width: 80%;
   }

  .user-card {
   margin-right: 1rem;
  }
}